{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style>
        .col, .row {
            text-align: center;
        }
        button {
            margin-bottom: 0.3em;
            margin-top: 0.5em;
        }
        #question {
            background-color: bisque;
            margin-top: 2em;
        }
        #questionContent, #questionAnswer, .questionNumber {
            font-size: 40px;
        }
        .questionNumber, #nextQuestion {
            margin-top: 0.1em;
        }
        .questionNumber {
            margin-bottom: 0;
            color: red;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="col-9" id="question">
        <div class="row">
            <div class="col-12">
                <p class="questionNumber"><span id="questionNumber">0</span><span>/12</span></p>
                <button class="btn btn-outline-info" id="showAnswer">Hiện đáp án</button>
                <button class="btn btn-outline-primary" id="nextQuestion">Câu hỏi tiếp theo</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p id="questionContent"></p>
            </div>
            <div class="col-12">
                <i><b><p id="questionAnswer"></p></b><i>
            </div>
            <div class="col-12" id="questionFile">
                
            </div>
        </div>
    </div>
    <div class="col-3" id="manageAnswer">
        <div class="row">
            <div class="col-12">
                <button type="button" id="countDown" class="btn btn-danger" style="width:150px; height:150px; font-size: 70px">10</button>
            </div>
        </div>
    </div>
    {% csrf_token %}

{% endblock %}

{% block scripts %}
<script>
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    function makeAjaxCall(questionContent, currentQuestionID) {
        // Make the AJAX call to notify the current question to the server and other screen of contestant
        $.ajax({
            url: "{% url 'currentQuestion'%}",
            method: "POST",
            data: {"question":questionContent, "questionID":currentQuestionID, "round": "khoidong"},
            dataType: "json",
            traditional: true,
            success: function (data) {
                // Do nothing
            }
        });
    }

    let countDownBox = $("#countDown");

    countDownBox.click(function() {
        // Disable the button to avoid second click
        countDownBox.attr("disabled", "disabled");
        
        var demgio = new Audio("{% static 'khoidong/khoidong_10s.mp3' %}");
        demgio.play();

        // Countdown 10s
        var countDownInterval = null;
        countDownInterval =  setInterval(function () {
            var newTime = parseInt(countDownBox.text()) - 1;
            if (newTime >= 0) {
                countDownBox.text(newTime);
            } else {
                clearInterval(countDownInterval);
                countDownBox.text("10");
                // Enable the box again for next question
                countDownBox.removeAttr("disabled");
            }
        }, 1000);
    });


    // Store all questions in an array
    let questions = {{ questions|safe }};

    var currentQuestionID = 0;

    $("#nextQuestion").click(function(event) {
        if (currentQuestionID >= questions.length) {
            $("#questionContent").text("Kết thúc phần thi");
        } else {
            let currentQuestion = questions[currentQuestionID]
            
            // Get all the information of this question
            let questionContent = currentQuestion["questionText"];
            let questionFileType = currentQuestion["fileType"];
            let questionFile = currentQuestion["file"];

            console.log(`====> Question file ${questionFile}`);

            if (questionFile) {
                let fileDisplay = $("#questionFile");

                fileDisplay.empty();

                console.log(`=====> ${questionFileType}`);
                
                if (questionFileType == "image") {
                    fileDisplay.append("<img width='640' height='480' src=" + questionFile + ">");
                } else if (questionFileType == "video") {
                    fileDisplay.append("<video width='640' height='480' controls><source src=" + questionFile + " type='video/mp4'></video>");
                } else if (questionFileType == "sound") {
                    let htmlString = "<audio controls><source src="+ questionFile + " type='audio/mpeg'>Your browser does not support the audio element.</audio>"
                    fileDisplay.append(htmlString);
                }
            }
        
            $("#questionContent").text(questionContent);
            // currentQuestionID begin with 0 for array index, but should be 1 in the database
            currentQuestionID++;
            $("#questionNumber").text(currentQuestionID);
            
            
            // Update the current question to the server
            makeAjaxCall(questionContent, currentQuestionID);
            
        }
    });

    $("#showAnswer").click(function(event){
        if (currentQuestionID >= questions.length) {
            $("#questionContent").text("...");
        } else {
            let currentQuestion = questions[currentQuestionID]   
            let questionAnswer = currentQuestion["answer"];
            $("#questionAnswer").text("Đáp án: " + questionAnswer);
        }
    });
</script>
{% endblock %}