{% extends 'base.html' %}
{% load static %}
{% block style %}
    <style>
        .thisinh {
            display: block;
            font-size: 40px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .name {
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
    {% for thisinh in userlist %}
        <div class="thisinh col-12">
            <div class="row">
                <img class="img-responsive" width="75" height="75" class="col-1" src="/media/{{ thisinh.avatar }}">
                <span class="name col-4">{{ thisinh.user }}: </span>
                <input class="diem col-6" type="number" id="{{thisinh.user.username}}" value="{{thisinh.score}}">
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
<script>
    $(".diem").keyup(function() {
        // Get the id
        var username = $(this).attr("id");
        // Get the grade
        var grade = $(this).val();
        console.log("CHANGED");
        $.ajax({
            url: "{% url 'score' %}" + username + "/" + grade,
            success: function() {

            }
        });
    })

    var soundtrack = new Audio("{% static 'score/CongBoDiemSo.mp3' %}");

    soundtrack.play();

    ost_path = "{% static 'ost/Britains_Brainiest_Theme_Song.mp3' %}";
</script>
{% endblock %}