<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui.min.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
    <title>NBK Olympia</title>
    <style>
        html {
            min-height: 100%;
            position: relative;
        }
        body {
            background-color: #314B77;
            /* min-width: 860px; */
            margin-bottom: 30px;
        }
        .nav-item {
            margin-left: 1em;
        }
        footer {
            width: 100%;
            text-align: center;
            position: relative;
            bottom: 0;
            font-style: italic;
        }
    </style>
    {% block style %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Hành trình Magellan</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link btn btn-outline-danger" >Reset</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary" href="{% url 'score' %}">Điểm số</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-success" href="{% url 'khoidong' %}">Khởi động</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn btn-outline-warning" href="{% url 'vuotsong' %}">
                        Vượt sóng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-danger" href="{% url 'tangtoc' %}">Bứt phá</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="vedichDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Về đích
                    </a>
                    <div class="dropdown-menu" aria-labelledby="vedichDropdown">
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="">Gói 40</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="">Gói 60</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="">Gói 80</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-warning" href="{% url 'answer' %}">Trả lời câu hỏi</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="createNewQuestion" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Thêm câu hỏi
                    </a>
                    <div class="dropdown-menu" aria-labelledby="createNewQuestion">
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'newKhoiDongQuestion'%}">Khởi động</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'newVuotSongQuestion' %}">Vượt sóng</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="{% url 'newTangTocQuestion'%}">Bứt phá</a>
                        <a class="nav-link btn btn-sm btn-outline-secondary" style="margin:3px" href="">Về đích</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary" href="{% url 'logout' %}">Logout, {{user}}</a>
                </li>
            </ul>
    </nav>
    <div class="container">
        <div class="row" id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
<footer class="page-footer">
    <div class="container">
        <span>Developers: Duc Le (LE_MAI_THANH_DUC), Luong Doan (DOAN_NGUYEN_THANH_LUONG) - 2019. Report bugs: <a href="mailto:duc.mtle@gmail.com">duc.mtle@gmail.com</a> or <a href="mailto:doannguyenthanhluong@gmail.com">doannguyenthanhluong@gmail.com</a></span>
    </div>
</footer>
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'jquery-ui.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
{% block scripts %}
{% endblock %}
</html>